@import "~react-image-gallery/styles/scss/image-gallery.scss";

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

/* Global styles */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  position: relative;
  width: 100%;
  color: #444444;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

td,
th {
  padding: 4px 8px 4px 4px;
  text-align: left;
}

th {
  font-weight: 600;
}

ul {
  list-style-type: disc; /* Use 'disc' for filled circles */
}

.sporty-blue{
  color: #0013F7;
}

.sporty-green, .text-green-500, .ring-green-500, .bg-green-500{
  color: #D3FD00;
}

.border-green-500{
  border-color: #D3FD00;
}

.carousel-item{
  border-radius: 2rem;
}